@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Designing the scrollbar */
.Scrollbar::-webkit-scrollbar {
  background: white;
  width: 10px;
  border-radius: 4px;
}

.Scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(144, 144, 144);
  border: 2px solid white;
  border-radius: 0px;
}

/* //for side bar */
.No-Scrollbar::-webkit-scrollbar {
  background: white;
  width: 10px;
  border-radius: 4px;
}

/* //for all */
.No-Scrollbar1::-webkit-scrollbar {
  width:0px;
  display: none;
}

.No-Scrollbar1::-webkit-scrollbar-thumb {
  display: none;
}
.No-Scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

/* Roboto Font Classes */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
